.area-header
  @extend .nav-bar
  position: fixed
  z-index: 100
  top: 0
  left: 0
  right: 0
  height: 50px
  font-size:  15px
  line-height: 50px
  background: $header-bg
  color: $header-text-color
  nav > ul
    @extend .list-inline
    margin-bottom: 0
    li
      float: none
    a
      padding: 0 1em
      color: $header-text-color
      &:hover, &.active
        color: $header-active-color

body.has-header
  padding-top: 50px
