// Screen Sizes
$break-small: 480px
$break-medium: 768px
$break-large: 1024px

// Elements
$radius: 5px
$modal-width: 680px
$modal-bg: $darkblue

// Dropdowns
$caret-width-base: 4px !default
$zindex-dropdown: 1000 !default
$dropdown-bg: $darkblue !default
$dropdown-divider-bg: lighten($darkblue, 5%) !default


body
  background: $body-bg
  font-family: "Bit Sans", Avenir, Helvetica, sans-serif

ul
  margin: 0
  padding: 0
  &.list-simple
    list-style: none
  &.list-inline
    @extend .list-simple
    li
      display: inline-block

a
  color: $link-color
  text-decoration: none
  &:hover
    color: $link-hover
    text-decoration: none

.pull-left
  float: left

.pull-right
  float: right
